@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.loading:after {
  content: ".";
  animation: dots 2s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@layer base {
  :root {
    --background: hsl(0, 0%, 0%);
    --foreground: hsla(0, 0%, 100%, 0.8);
    --muted: hsla(0, 0%, 29%, 0.5);
    --active: hsla(0, 0%, 14%, 0.8);

    --secondary: hsl(0, 0%, 58%);

    --radius: 50px;
  }
}
